/*home-css*/
body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg,rgb(95, 184, 5) ,rgb(0, 106, 255));
}
.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    background: linear-gradient(90deg,rgb(252, 143, 19) ,rgb(0, 106, 255));
}
.logo {
    width: 100px;
    margin-bottom: 20px;
}
h1 {
    margin-bottom: 20px;
}
h2{
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
input, button {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}